@font-face {
	font-family: Jupiter Pro;
	src: url(assets/Fontspring-DEMO-jupiter_condensed_pro.otf);
}
@font-face {
	font-family: Axis;
	src: url(assets/Axis_Extrabold.otf);
}
body {
	background-image: url("assets/BG.png");
	background-repeat: no-repeat;
	background-color: black;
	background-position: center top;
	font-family: Axis;
	margin-top: 0px;
}
.button {
	margin: 0px;
	padding: 0px 10px;
	font-family: Axis;
	border: none;
	height: 100%;
	display: inline-block;
	line-height:40px;
	vertical-align: middle;
	font-size: 18px;
	color: black;
	font-weight: 400;
	background: linear-gradient(to bottom,
		rgba(206,219,233,1) 
		0%,rgba(170,197,222,1) 
		17%,rgba(97,153,199,1) 
		50%,rgba(58,132,195,1) 
		51%,rgba(65,154,214,1) 
		59%,rgba(75,184,240,1) 
		71%,rgba(58,139,194,1) 
		84%,rgba(38,85,139,1) 100%);
	/*border-radius: 25px;*/
	text-decoration: none;
}
.button:hover {
	background: linear-gradient(to bottom,
		rgba(206,219,233,1) 
		1%,rgba(206,219,233,1) 
		8%,rgba(170,197,222,1) 
		23%,rgba(97,153,199,1) 
		50%,rgba(58,132,195,1) 
		51%,rgba(65,154,214,1) 
		59%,rgba(75,184,240,1) 
		71%,rgba(58,139,194,1) 
		87%,rgba(38,85,139,1) 100%);
}
.button:active {
	background: linear-gradient(to bottom,
		rgba(206,219,233,1) 
		0%,rgba(150,177,202,1) 
		17%,rgba(77,133,179,1) 
		50%,rgba(38,112,175,1) 
		51%,rgba(45,134,194,1) 
		59%,rgba(55,164,220,1) 
		71%,rgba(38,119,174,1) 
		84%,rgba(18,65,119,1) 100%);
	box-shadow:
	inset 2px 2px 3px #000000;
}
#buttons {
	border-top-left-radius: 60px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 60px;
	max-width: 640px;
	display: block;
	height: 40px;
	text-align: center;
	margin: 0px auto;
	background: linear-gradient(to bottom,
		rgba(206,219,233,1) 
		0%,rgba(170,197,222,1) 
		17%,rgba(97,153,199,1) 
		50%,rgba(58,132,195,1) 
		51%,rgba(65,154,214,1) 
		59%,rgba(75,184,240,1) 
		71%,rgba(58,139,194,1) 
		84%,rgba(38,85,139,1) 100%);
}
#buttonG {
	border-top-left-radius: 60px;
	border-bottom-left-radius: 5px;
}
#buttonD {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 60px;
}
.buttonM {
	/*border-radius: 5px;*/
}
#header {
	display: block;
	margin: auto;
}
a:focus {
	outline: none;
}
.contents {
	border: ridge;
	border-color: #00BFFF; 
	box-shadow: -1px 1px 8px #CCF2FF;
	display: block;
	margin: auto;
	padding: 25px;
	box-sizing: border-box;
	max-width: 1200px;
	min-height: 531px;
	background-color: #191919;
	color: #E6E6E6;
}
h1, #desc {
	text-align: center;
	font-size: 50px;
	font-family: Jupiter Pro;
	color: #00BFFF;
	margin: 20px;
}
#ImageDescription {
	float: right;
}
#Carte {
	display: block;
	/*width: 775px;*/
	/*height: 436px;*/
	margin: auto;
}
#ConteneurCarte {
	text-align: center;
	background-color: #1E1E1E;
	margin: auto;
	color: #FFFFFF;
	padding-bottom: 10px;
}
table {
	margin: auto;
	text-align: center;
}
td{
	padding: 10px;
	background-color: #1E1E1E;
	color: #FFFFFF;
	border:solid #191919 10px;
}
.Exploits {
	Float: left;
}
.ExploitDiv {
	height: 360px;
	line-height: 360px;
	vertical-align: middle;
}
#ConteneurCarte > img{
	max-width: 100%;
	height: auto;
}
.viewerCont {
	z-index: 1000;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.fade {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333;
	opacity: 78%;
}
.viewerCont img {
	position: absolute;
	max-width: 100%;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
figure {
	display: inline-block;
	max-width: 200px;
}
figcaption {
	font-size: 12px;
}